/* The CSS under this is for every page. */

body {
    background-image: url("/img/dracaena-cinnabari.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px;
    color: white;
}

.setThroughBackground-all {
    margin: 10px 150px 150px 200px;
    border-radius: 12px;
}

#navigationMenu-all {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;

}

#navigationMenu-all a {
    text-decoration: none;
    color: rgb(252, 251, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#navigationMenu-all a:hover {
    background-color: rgb(11, 14, 0);
}

.navigationMenu-all a {
    margin: 0px -2px 0px 0px;
    padding: 7.5px 30px 7.5px 30px;
    overflow: hidden;
    border-color: white;
    border-width: 4px;
    border-style: ridge;
    display: block;
    float: left;
}

.samuelLogo-all {
    color: rgb(247, 255, 129);
    text-align: left;
    margin-right: 10px;
    margin-top: 70px;
    font-family: 'Rampart One', cursive;
    font-size: 25px;
}

.blogTitle-all {
    text-align: center;
    margin-top: 70px;
    font-family: 'Rampart One', cursive;
}

.blogTitle-all h1 {
    font-size: 48px;
    margin-bottom: 0px;
}

.underTitle-all {
    text-align: center;
    font-size: 30px;
    font-family: 'Rampart One', cursive;
}

.image-all {
    border-color: rgba(248, 247, 250, 0.63);
    border-style: outset;
    border-width: thick;
    transition: all .1s ease;
    height: auto;
}

.image-all:hover {
    transform: scale(1.4);
}

/* The Index page. */

.gridbox-index {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 60% 30%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "blog1IN image1IN"
        "blog2IN image1IN"
        "blog2IN image2IN"
        "blog3IN image2IN";
}

.posts-index {
    text-align: center;
    padding: 20px;
    list-style-type: none;
    border-radius: 30px;
    border-style: outset;
    border-width: thick;
}

.myMotivationForICT-index {
    background-color: #59565f;
    width: 75%;
    grid-area: blog1IN;
}

.whyDoesICTFitMe-index {
    background-color: rgb(27, 26, 26);
    width: 75%;
    grid-area: blog2IN;
}

.whatIHaveLearnedUpUntilNow-index {
    background-color: #59565f;
    width: 75%;
    grid-area: blog3IN;
}

.hzLogo-index {
    width: 80%;
    grid-area: image2IN;
    margin-top: 10%;
}

.selfie-index {
    width: 80%;
    grid-area: image1IN;
    margin-top: 50%;
}

/* The profile page */

.gridbox-profile {
    width: 105%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 70% 35%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "blogBF image1BF"
        "blogBF image2BF"
        "image3BF image3BF";
}

.introduction-profile {
    background-color: #59565f;
    height: 750px;
    padding: 20px;
    border-radius: 30px;
    border-style: outset;
    border-width: thick;
    width: 90%;
    grid-area: blogBF;
}

.selfie-profile {
    width: 70%;
    grid-area: image1BF;
}

.globePhoto-profile {
    width: 70%;
    grid-area: image2BF;
}

.motivPhoto-profle {
    width: 30%;
    grid-area: image3BF;
}

/* The dashboard page */

.myProgress {
    width: 100%;
    background-color: #ddd;
}

.myBar {
    width: 60%;
    height: 30px;
    background-color: #042481;
    text-align: center;
    line-height: 30px;
    color: white;
}

table,
table td td {
    text-align: center;
    vertical-align: middle;
}

.table-dashboard,
.tableHeader-dashboard,
.tableData-dashboard {
    background-color: #f9faf6;
    width: auto;
    align-items: center;
    border-style: solid;
    border-color: rgba(20, 20, 20, 0.856);
    color: black;
    border-collapse: collapse;
    transition: all .1s ease;
}

.table-dashboard,
.tableData-dashboard:hover {
    transform: scale(1.2);
}

.table-dashboard {
    margin-left: center;
    margin-top: 12%;
}

.tableData-dashboard {
    width: 150px;
}

.asideMenu-ul-dashboard {
    list-style-type: none;
    text-align: center;
    width: 600px;
    height: auto;
    background-color: rgb(247, 255, 129);
    padding: 10px;
    border-style: outset;
    border-width: thick;
    border-radius: 30px;
    margin-left: 15%;
    margin-top: 20%;
    font-size: 25px;

}

.asideMenu-il-dashboard h2 {
    margin: 0px;
}

.completed-dashboard {
    background-color: rgb(127, 250, 197);
}

.inProgress-dashboard {
    background-color: rgb(247, 255, 129);
}

.unCompleted-dashboard {
    background-color: rgb(46, 19, 146);
}

/* The FAQ page */

.gridbox-faq {
    font-size: 20px;
    width: 75%;
    margin: auto auto auto auto;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto, auto, auto;
    gap: 100px;
    text-align: center;
    margin-top: 10%;
}

.faqPosts-faq {
    padding: 10px;
    border-style: outset;
    border-width: thick;
    border-radius: 30px;
    width: 300px;
    transition: all .1s ease;
    overflow: auto;
}

.faqPosts-faq:hover {
    transform: scale(1.4);
}

.faqPost1Color-faq {
    background: rgb(27, 26, 26);
}

.faqPost2Color-faq {
    background: #59565f;
}

.faqPost3Color-faq {
    background: #59565f;
}

.faqPost4Color-faq {
    background: rgb(27, 26, 26);
}

.faqPost5Color-faq {
    background: rgb(27, 26, 26);
}

.faqPost6Color-faq {
    background: #59565f;
}


/* The blog-feed page */

.gridbox-blog-feed {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
        "blog1BF blog1BF image1BF"
        "image2BF blog2BF blog2BF"
        "blog3BF blog3BF blog3BF"
        "image3BF blog4BF blog4BF"
        "blog5BF blog5BF image4BF";
}

.blogposts-blog-feed {
    text-align: center;
    padding: 20px;
    list-style-type: none;
    border-radius: 30px;
    border-style: outset;
    border-width: thick;
    width: 650px;
}

.blogPost1-blog-feed {
    background-color: rgb(27, 26, 26);
    grid-area: blog1BF;
}

.blogPost2-blog-feed {
    background-color: #59565f;
    grid-area: blog2BF;
}

.blogPost3-blog-feed {
    background-color: rgb(27, 26, 26);
    grid-area: blog3BF;
}

.blogPost4-blog-feed {
    background-color: #59565f;
    grid-area: blog4BF;
}

.blogPost5-blog-feed {
    background-color: rgb(27, 26, 26);
    grid-area: blog5BF;
}

.smileyPhoto-blog-feed {
    width: 350px;
    grid-area: image1BF;
}

.swotLogo-blog-feed {
    width: 350px;
    grid-area: image2BF;
}

.feedbackPhoto-blog-feed {
    width: 320px;
    grid-area: image3BF;
}

.softwareEngineering-blog-feed {
    width: 320px;
    grid-area: image4BF;
}

#more {
    display: none;
}
